.change-password input{
    margin-bottom: 10px;
}

.notification {
    padding: 10px 15px;
    margin: 10px 0;
    border-left: 5px solid;
    border-radius: 4px;
    font-weight: bold;
    background-color: #f0f0f0;
}

.notification.success {
    background-color: #e6ffed;
    border-color: #34d399;
    color: #065f46;
}

.notification.error {
    background-color: #ffe6e6;
    border-color: #f87171;
    color: #7f1d1d;
}